<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinelvis</title>
    {% block css %}
      <link rel="stylesheet" href="../static/css/style.css">
    {% endblock %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>

<header>
  <div>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <!-- Enlace a peliculas-admin.html -->

            <li class="nav-item">
              <a class="navbar-brand" href="/admin/peliculas">Peliculas</a>
              <div id="liveAlertPlaceholder"></div>
            </li>

            <!-- Enlace a agregar-admin.html -->
            <li class="nav-item">
              <a class="nav-link" href="/admin/agregar-peliculas">Añadir Pelicula</a>
            </li>

            <!-- Enlace a agregar-funciones.html -->
            <li class="nav-item">
              <a class="nav-link" href="/admin/agregar-funciones" >Añadir Funcion</a>
            </li>

            <li class="nav-item">
              <a id="cerrar" class="nav-link" href="/logout" >Cerrar Sesion</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="contenido">
{% block contenido %}

{%endblock%}
</div>
</body>
</html>

